# processlist
[mariadb-import]
fields-optionally-enclosed-by = '"'
fields-terminated-by = '\t'
lines-terminated-by = '\n'
fields-escaped-by = '\\'
columns = 'rh_id,tick,hostname,db,command,state,info'

